
# postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=efcodd
HOST_POSTGRES_PORT=5306
HOST_POSTGRES_DATA_DIR=/home/cuong/mlflow-data/postgres

# MLflow tracking server
MLFLOW_S3_ENDPOINT_URL=http://172.19.164.128:9000 # note: not use 9001
MLFLOW_ARTIFACT_URI=s3://mlflow-artifacts/mlflow  # s3://<bucket>/path
HOST_MLFLOW_PORT=5005
